* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Inter", sans-serif;
    background: #172533;
    background: radial-gradient(circle, #172533 0%, #121d32 49%, #0d1530 100%);
    color: #bfbfc0;
}

.container {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 0.5em 0 2em .5em;
}

header h1 {
    font-weight: 900;
    color: #F55A5A;
    font-size: 3.25rem;
    line-height: 1.05em;
}

header p {
    font-size: 1.05rem;
    padding-left: .4em;
}

.navform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: #1F2937;
    width: 100%;
}

select,
button,
.colorpicker {
    height: 40px;
}

.colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.75rem;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}

.colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

select {
    font-family: inherit;
    border-radius: 5px;
    font-size: .85em;
    border: 1.75px solid #929292;
    background-color: #1F2937;
    color: #D1D5DB;
    padding: .6em;
    width: 60%;
    cursor: pointer;
    outline: none;
}

button {
    text-align: center;
    font-size: .85rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;
    background-color: #3D4B60;
    color: #fff;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
    border: none;
    padding: 0em 1em;
}

button:active {
    transform: scale(0.95);
}

#color-palette {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(3em, 1fr);
    width: 100%;
    flex: 1;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: #1F2937;
}

.color-box {
    display: flex;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.color-box:hover {
    transform: scale(1.07);
}

.color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #c4d3e9;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
}

/* Media Queries */
@media(min-width: 450px) {
    html {
        font-size: 17px;
    }
}

@media(min-width: 493px) {
    html {
        font-size: 18px;
    }

    header {
        text-align: start;
        padding: 0;
        padding-bottom: 2em;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100svh;
    }

    .top {
        display: block;
    }

    .container {
        height: 95svh;
        padding: 1rem;
        border: 2.5px solid #ffffff4d;
        border-radius: 8px;    
        max-height: 750px;
    }
    .navform{
        border-start-end-radius: 6px;
        border-top-left-radius: 6px;
    }
    .color-palette{
        border-end-end-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}